html{
	scroll-behavior: smooth;
}
body{
	background-color:#00FFFF;
	text-align: center;
	width: 100%;
	margin: 0;
}
.parallax{
	background-image: url("par.jpg");
	min-height: 550px; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input[type=text]{
	border-radius: 6px;
	box-sizing: border-box;
	outline: none;
	padding:20px;
	padding-left: 40px;
}

.ach textarea{
	border-radius: 6px;
	box-sizing: border-box;
	outline: none;
	padding:4px;
}
div{
	min-height: 100vh;
	justify-content: center;
}

section{
	min-height: 100vh;
	width: 100%;
	
	align-items: center;
	justify-content: center;
	background-image: url("bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#start{
	align-items: center;
	justify-content: center
	margin: 0;
	padding: 20px;
}

#start p{
	font-family:Times New Roman,Verdana,Serif;
	font-size: 50px;
	font-style: bold;
	
}
#start button{
     border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}
#sec2 #name p{
	padding-top: 200px;
	font-family:Verdana,Serif;
	font-size: 40px;
	font-style: italic;
	
}
#sec3 img{
	width: 800px;
	height: auto;
}
#sec3 i{
	position:relative;
	left:0;
	padding-left:00px;
}
#sec3  p{
	font-family:Verdana,Serif;
	font-size: 40px;
	font-style: bold;

}
#sec3 #abc input{
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}
#sec2 input{
	 border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}
#sec4  p{
	font-family:Verdana,Serif;
	font-size: 40px;
	font-style: bold;
	text-decoration:none; 
}
#sec4 img{
	width:800px;
	height:auto;
}
#sec4 input{
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}
#sec5  p{
	padding-top:200px; 
	font-family:Verdana,Serif;
	font-size: 40px;
	font-style: bold;
	text-align: center;
}

#sec5 #fam #mem1{
	font-family:Verdana,Serif;
	font-size: 40px;
	font-style: bold;
}

#sec6 #subm  p{
	font-family:Verdana,Serif;
	font-size: 30px;
	font-style: bold;
	color: #000066;
}

#sec6 #subm  input{
	 border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}

button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}

